<mat-card *ngIf="product">
    <mat-card-content class="w-40 h-64">
        
        <img mat-card-lg-image class="mb-1"
            [src]="product.image"
        />
        <div class="w-full">
            <div>
                <h5>{{product.category}}</h5>
                <p class="truncate hover:whitespace-normal">{{product.title}}</p>
                <!-- <p>{{product.description}}</p> -->
            </div>
            <div class="flex justify-between">
                <span class="text-red-400">{{ product.price| currency : "R" }}</span>
                <button (click)="onAddToCart()">
                    <mat-icon class="text-gray-500">shopping_cart</mat-icon>
                </button>
            </div>
        </div>
    </mat-card-content>
</mat-card>
